.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.item{
  float: left;
}
.item a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.item a:hover{
  background-color: #111;
}
table{
  width: 100%;
}
.title{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 230, 0);
}

.nav{
  display: inline;
  float: right;
align-items: center;
}

thead{
  background-color: rgb(245, 229, 5);
}

.clients{
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.analytics{
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
/* .action{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 100px 100px;
  grid-template-areas: 
  "a b";
  align-items: start;
} */


.buttonUpdate{
  display: inline-block;
  width: 150px;
  margin-left:50px;
}
 .buttonAdd{
 margin-left: 50px;
}
.form {
  width: 150px;
}
 .container_addClinet{
   display: inline;
 }
.updateh2{
display: inline;
}
.addh2{
  display: inline-block;
  }
.countrySelect{
  width: 150px;
  text-align-last:center;
}
.optionSold{
  width: 80px;
  text-align-last:center;
}
.closeBTN{
  margin-left: 90%;
}
.pop{
  background-color: rgb(255, 230, 0);
}
.popBody{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.countrySelect{
  margin-bottom: 0px !important;

}

.selectDrop {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  text-align: center;
}

.actions{
  display: grid;
  grid-gap: 10px;
  /* grid-auto-columns: minmax(100px, auto); */

  grid-template-areas: 
  "a b";
  
  grid-template-areas:
  "c";
   height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  
}

.updateClient{
grid-area: 'b';
}
.addClient{
  grid-area: 'a';
 
}
.deleteUser{
  grid-area: 'c';
justify-content: center;
align-items: center;
}