.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.item{
  float: left;
}
.item a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.item a:hover{
  background-color: #111;
}
table{
  width: 100%;
}
.title{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 230, 0);
}

.nav{
align-items: center;
}

thead{
  background-color: rgb(245, 229, 5);
}
.action{
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.clients{
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.action{
  margin-left: 50px;
}

.form {
  width: 120px;
}
.addClient{
  margin-left: 200px;
  margin-top: 50px;
  width: 200px;
}